<header class="header" [ngClass]="{'fixed-header': isFixedHeader}">
    <div class="header-content">
      <div class="logo">
        <i class="logo-icon fa-solid fa-gem"></i>
        <!-- <span>AstroGem</span> -->
        Astro<span>Gem</span>
      </div>
      <nav class="nav-links">
        <a href="#" class="nav-link">Free Kundli</a>
        <a href="#" class="nav-link">Kundli Matching</a>
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle">Horoscopes <i class="fa-solid fa-chevron-down"></i></a>
        </div>
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle">Eng <i class="fa-solid fa-chevron-down"></i></a>
        </div>
        <button class="login-btn">
          <i class="fa-solid fa-user"></i> Login
        </button>
      </nav>
    </div>
    
    <nav class="sub-nav">
      <div class="sub-nav-content">
        <a href="#" class="sub-link">Chat with Astrologer</a>
        <a href="#" class="sub-link">Talk to Astrologer</a>
        <a href="#" class="sub-link new-tag">Book a Pooja <span class="new">New</span></a>
        <a href="#" class="sub-link">Astromall</a>
        <a href="#" class="sub-link">AstroGem Store</a>
        <a href="#" class="sub-link">Blog</a>
      </div>
    </nav>
  </header>