@use '../../assets/styles/variables' as *;
.astrologers-section {
    padding: $spacing-xxl 0;
    background-color: $primary-gold;
    position: relative;
  }

.astrologers-container {
  position: relative;
  display: flex;
  align-items: center;
}
  
  .section-title {
    text-align: center;
    color: $primary-blue;
    font-size: 2rem;
    margin-bottom: $spacing-sm;
  }
  
  .section-subtitle {
    text-align: center;
    color: $primary-blue;
    font-size: 1.1rem;
    margin-bottom: $spacing-xl;
  }
  
  .astrologers-grid {
    display: grid;
    gap: $spacing-lg;
    padding: $spacing-md 0;
    margin: 0 $spacing-md;
    width: 100%;

  }
  
  .astrologer-card {
    background-color: $neutral-white;
    border-radius: $border-radius-md;
    overflow: hidden;
    box-shadow: $shadow-md;
    padding: $spacing-lg;
    text-align: center;
    transition: $transition-normal;
  }
  
  .astrologer-card:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-lg;
  }
  
  .astrologer-image {
    width: 120px;
    height: 120px;
    margin: 0 auto $spacing-md;
    border-radius: $border-radius-round;
    overflow: hidden;
  }
  
  .astrologer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .astrologer-name {
    color: $primary-blue;
    margin: 0 0 $spacing-xs;
    font-size: 1.3rem;
  }
  
  .astrologer-specialty {
    color: $neutral-dark;
    margin: 0 0 $spacing-md;
    font-size: 0.9rem;
  }
  
  .btn-consult {
    background-color: $primary-blue;
    color: $neutral-white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: $border-radius-md;
    font-weight: 500;
    cursor: pointer;
    transition: $transition-normal;
  }
  
  .btn-consult:hover {
    background-color: $secondary-dark;
  }
  

  
  @media (max-width: 768px) {
    
  }